@charset "utf-8";
/* CSS Document */

/*
ESTILOS GENERALES
-------------------------------*/

.margen-internas {
	max-width: 1260px;
	margin: 0 auto;
	padding: 3.5vw 30px 0 30px;
}

.titulo-principal {
	font-family: 'CaviarDreams' !important;
  text-transform: uppercase;
  color:#005AA7;
	text-align: center;
	font-size: 2.5em !important;
  letter-spacing: 0.2em;
	padding: 10px 0 30px 0px;
}

.subtitulo{
	font-family: 'CaviarDreams' !important;
  text-transform: uppercase;
  color:#005AA7;
	text-align: center;
	letter-spacing: inherit;
	font-size: 1.2em !important;
}

.subtitulo-acenter{
	font-family: 'CaviarDreams' !important;
  	color:#005AA7;
	letter-spacing: inherit;
	font-size: 1.5em !important;
	padding: 20px 0 25px 0;
}

.texto-general{
	font-family: 'OpenSans Regular';
	color: #777;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.tercio {
	width: 33.3%;
	float: left;
	padding: 12px;
}

.cuarto {
	width: 25%;
	float: left;
	padding: 12px;
}

.tercio-static {
	width: 313px;
	padding: 15px;
	margin: 0 10px;
	font-family: 'OpenSans Regular';
}

.cuarto-static {
	width: 280px;
	padding: 15px;
	margin: 0 10px;
	font-family: 'OpenSans Regular';
}

/***************************************/

.texto-cuadros{
  font-family: 'OpenSans Regular';
  color: #777;
  text-align: center;
	font-size:0.85em;
}
.header-img {
	max-width: 100%;
	height: 25.5vw;
  min-height: 200px;
	max-height:500px;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.header-img:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 50px 0 50px;
  position: absolute;
  top: 25.5vw;
  left: 47vw;
}

@media only screen and (max-width:640px) {
	.header-img {
		display: none;
	}
	.margen-internas {
		padding: 105px 30px 0 30px;
	}
	.searchBar-interno form {
		width: 90% !important;
	}
	.texto-general {
		display: none;
	}
	.site-map {
		position: absolute;
		margin: 0 !important;
		left: 0;
		top: 50px;
		width: 100%;
	}
	.site-map .left {
		width: 30%;
	}
	.site-map .right {
		width: 70%;
	}
	
	.right:after{
	 display:none;	
	}
}

@media only screen and (max-width:480px) {
	.subtitulo-bg {
		font-size: 1.3em !important;
	}
}

.triangulo-general:after{
	border-color: #0A61A8 transparent transparent transparent;
}

.triangulo-servicios:after{
	border-color: #017604 transparent transparent transparent;
}

.triangulo-eventos:after{
	border-color: #CC0001 transparent transparent transparent;
}

.triangulo-faq:after{
	border-color: #48A2A3 transparent transparent transparent;
}

#general-img {
	background: url(../img/banner_2.jpg);
	border-bottom: 8px solid #0A61A8;
}

#servicios-img {
	background: url(../img/servicios_imagen.jpg);
	border-bottom: 8px solid #017604;
}

#faq-img{
	background: url(../img/servicios_imagen.jpg);
	border-bottom: 8px solid #48A2A3;
}

.contenedor-cuadros{
    margin: 0 auto;
    width: 1200px;
	padding-top: 60px;
	    height: 350px;
		clear:both;
}

.contenedor-tercios{
	margin: 0 auto;
    width: 710px;
    padding-top: 60px;
    height: 350px;
    clear: both;
}

.contenedor-grid{
	margin: 0 auto;
    width: 1200px;
	padding-top: 60px;
	    height: 350px;
		clear:both;
}


.quinto{
	background: #E6E5E3;
	width: 230px;
	padding: 0 5px 1% 5px;
	border-top: 15px solid #005AA7;
	margin: 0 auto;
	float: left;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cuartos-alt{
	background: #FFFFFF;
    width: 290px;
    padding: 0 5px 1% 5px;
    border: 2px solid #E6E5E3;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
	}

.cuartos-alt-titulo{
	font-weight: bold;
    color: #696867;
    margin: 10px 0 10px 0;
    font-size: 1.2em;
}

.cuartos-alt-texto{
	width: 60%;
    position: relative;
    float: left;
    font-size: 0.7em;
}

.cuartos-alt-img{
	width: 37%;
    float: right;
    position: relative;
    margin-top: 0px;
}

.material-img{
	fill: #A9A7A4;	
}

.titulo-cuadros{
	text-align: center;
	font-family: 'CaviarDreams';
	font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 0.2em;
}

.img-contenedor{
	margin: 0 auto;
	position: relative;
	width: 50%;
	overflow: visible;
	margin-bottom: 60px;
}

.img-cuadro{
	position: absolute;
	top: -55px;
	border: #BACEE0 solid 4px;
	border-radius: 50%;
}

.precio{
    color: #1659A2;
    font-size: 1.1em;
    float: left;
    margin: 10px 0 10px 0;
}
.requisitos{
	width:100%;
	float:left;
}

.requisitos-lista{
	list-style:inherit;
	list-style-position: inside;
}

@media only screen and (max-width: 1246px) {
.contenedor-cuadros{
    width: 944px;
	}

.quinto{
	margin-top: 50px;
	}

.contenedor-grid{
	width: 890px;
	}
}

@media only screen and (max-width: 1169px) {
.header-img:after {
  display:none;
	}
}

@media only screen and (max-width: 1006px) {
.contenedor-cuadros{
    width: 708px;
	}

.contenedor-grid{
	width: 593px;
	}
}

@media only screen and (max-width: 767px) {
.contenedor-cuadros{
    width: 472px;
	}

.titulo-principal {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em !important;
	}

.contenedor-tercios{
	width: 475px;
    clear: both;
	}
}

@media only screen and (max-width: 647px){
.contenedor-grid{
	width: 100%;
	min-width: 240px;
	}
.cuartos-alt{
	width:100%;
}

}
@media only screen and (max-width: 586px) {
.contenedor-cuadros{
    width: 240px;
	}
}

@media only screen and (max-width: 525px) {
.contenedor-tercios{
	width: 236px;
    clear: both;
	}
}





/*
SITE MAP
------------------------------------*/

.site-map {
	/*margin: -25px 0 37px;*/
	margin: -1vw 0 37px;
}

.site-map div {
	float: left;
	padding: 5px 11px 5px 19px;
	color: #fff;
	position: relative;
	font-family: 'OpenSans Regular';
	font-size: 0.8em;
}

.site-map .left {
	background: #a4a4a4;
}

.site-map .left::after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 0 14px 8px;
	border-color: transparent transparent transparent #A4A4A4;
	position: absolute;
	top: 0;
	right: -8px;
	z-index: 2;
}

.site-map .right::after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 0 14px 8px;
	position: absolute;
	top: 0;
	right: -8px;
	z-index: 2;
}

.active-general {
	background: #0A61A8;
}

.active-general::after {
	border-color: transparent transparent transparent #0A61A8;
}

.active-servicios {
	background: #017604;
}

.active-servicios::after {
	border-color: transparent transparent transparent #017604;
}

.active-eventos {
	background: #CC0001;
}

.active-eventos::after {
	border-color: transparent transparent transparent #CC0001;
}

.active-novedades {
	background: #b06caf; 
}

.active-novedades::after {
	border-color: transparent transparent transparent #b06caf;
}

.active-faq {
	background: #48A2A3; 
}

.active-faq::after {
	border-color: transparent transparent transparent #48A2A3;
}
/* SEARCH BAR
----------------------------------*/
.searchBar-interno {
	height: 50px;
  width: 100%;
  margin-bottom: 60px;
}

.searchBar-interno form {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  padding:0;
}

.searchBar-interno input {
  border: none;
  background: #E6E6E6;
	width: 88%;
  height: 100%;
  padding: 0 5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
	outline: none;
	font-family: 'OpenSans Regular';
	color: #757575;
}

.searchBar-input {
	border-radius: 15px 0px 0px 15px;
	float: left;
}

.btn-search-interno {
	float: left;
  width: 12%;
  padding: 9px;
  border-radius: 0 15px 15px 0;
	height: 50px;
	border: none;
	cursor: pointer;
}

.btn-lupa-interno {
	height: 100%;
  margin: 0 auto;
  display: block;
	width: 100%;
}

/*
BODY
--------------------------------*/

.subtitulo-bg {
	font-family: 'CaviarDreams';
  background: #0A61A8;
  color: #fff;
  padding: 5px 15px;
  display: table;
  margin: 42px auto 35px;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
	text-align: center;
}

/****** CAROUSEL *****/

.catalogo-general-carousel {
	width: 90%;
	height: 190px;
	margin: 0 auto;
	display: inherit;
}

.general-celda {
	width: 280px;
	height: 190px;
}

.general-celda img {
	width: 250px;
	height: 190px;
}

/*
BOXES CONTENT
----------------------------------*/

/**TERCIO**/

.contenedor-boxes-tercio {
	max-width: 1000px;
	margin: 140px auto 0;
}

.catalogo-box {
	background: #F3F3F3;
	border-top: 15px solid #005AA7;
	float: left;
	position: relative;
}

.contenedor-boxes-tercio .tercio-static {
	height: 285px;
}

.tercio-static .img-contenedor {
	margin-bottom: 30px;
}

.tercio-static .img-cuadro {
	top: -115px;
}

.catalogoList-left {
	width: 70%;
	float: left;
}

.catalogoList-right {
	width: 30%;
	float: left;
}

.catalogo-box aside {
	margin: 20px 10px 0;
	font-family: 'OpenSans Semibold';
	position: absolute;
	bottom: -30px;
	right: 0;
}

.catalogo-box aside a {
	color: #005AA7;
}

@media only screen and (max-width: 1080px) {
	.contenedor-boxes-tercio {
		max-width: 670px;
	}
	.contenedor-boxes-tercio .tercio-static {
    margin-bottom: 110px;
	}
}

@media only screen and (max-width: 750px) {
	.contenedor-boxes-tercio {
		max-width: 333px;
	}
}

/**CUARTO**/

.contenedor-boxes-cuarto {
	max-width: 1200px;
	margin: 140px auto 0;
}

.cuarto-static .img-contenedor {
	margin-bottom: 30px;
}

.cuarto-static .img-cuadro {
	top: -105px;
}

.contenedor-boxes-cuarto .cuarto-static {
	height: 325px;
}

@media only screen and (max-width: 1280px) {
	.contenedor-boxes-cuarto {
		max-width: 900px;
	}
	.contenedor-boxes-cuarto .cuarto-static {
		margin-bottom: 110px;
	}
}

@media only screen and (max-width: 980px) {
	.contenedor-boxes-cuarto {
		max-width: 600px;
	}
}

@media only screen and (max-width: 680px) {
	.contenedor-boxes-cuarto {
		max-width: 300px;
	}
}


/*
FAQ
-------------------------------*/
#options {width:90%; margin:20px auto; text-align:right; color:#9ac1c9}
#options a {text-decoration:none; color:#005AA7}
#options a:hover {color:#005AA7}

#acc {width:95%; list-style: inherit; list-style-position: inside; color:#797977; margin:0 auto 40px; font-size: 0.9em; font-family: 'OpenSans Regular';}
#acc h3 {width:100%; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background:#E2E3DF; padding-right: 30px; -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* Internet Explorer */ -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */ -webkit-user-select: none; /* Chrome, Safari, and Opera */ -webkit-touch-callout: none; /* Disable Android and iOS callouts*/}
#acc h3:hover {background:#C7C7C4}
#acc .acc-section {overflow:hidden; background:#fff}
#acc .acc-content {width:100%; padding:15px; border-top:none; background:#fff}

#nested {width:425px; list-style:none; color:#033; margin-bottom:15px}
#nested h3 {width:411px; border:1px solid #9ac1c9; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.gif)}
#nested h3:hover {background:url(images/header_over.gif)}
#nested .acc-section {overflow:hidden; background:#fff}
#nested .acc-content {width:393px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nested .acc-selected {background:url(images/header_over.gif)}

.acc li{
    position: relative;	
}

.triangulito-faq{
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #797977 transparent transparent transparent;
    position: absolute;
    right: 5px;
    top: 10px;
}

/*
FOOTER
----------------------------*/

.footer-internas {
	width: 100%;
	background: #e2e3df;
  margin-top: 70px;
	font-family: 'OpenSans Regular';
	color: #7d7d7d;
	font-size: 0.9em;
	letter-spacing: normal;
	display: inline-block;
	position: relative;
	margin-bottom: -4px;
}

.footer-internas h2 {
	font-size: 1.25em;
	color: #404040;
}

.footer-internas>div {
	max-width: 1200px;
	margin: 0 auto;
}

.footer-internas .tercio {
	padding: 30px 50px 20px;
}

.footer-internas .tercio h2, .tercio p {
	padding: 6px 0;
}

.tercio img {
	float: left;
	clear: both;
	margin: 10px 0;
}

.footer-preguntas {
	padding: 0 !important;
}

.footer-preguntas a {
	color: #7d7d7d;
}

@media only screen and (max-width:800px) {
	.footer-internas .tercio {
		padding: 30px 30px 20px;
	}
}

@media only screen and (max-width:640px) {
	.footer-preguntas {
		display: none;
	}
	.tercio {
		width: 100%;
	}
}

/*
COPYRIGHT
------------------------*/

.footer-copyright {
	background: #1a1c1f;
	padding: 14px 0;
}

.footer-copyright p{
color: #c1c1c1;
font-family: 'OpenSans Light';
font-size: 0.9em;
text-align: center;
}
