@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'CaviarDreams';
	src: url(../fonts/CaviarDreams.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans Regular';
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: 'OpenSans Light';
	src: url(../fonts/OpenSans-Light.ttf);
}

.texto1 {
	font-family: 'OpenSans Light';
	font-size: 1.2em;
	color: #fff;
}

.margen-principal{
	max-width:1200px;
	margin: 0 auto;	
	padding:80px 0 0 0 ;
}

@media only screen and (max-width: 480px) {
	.margen-principal{
		padding:40px 0 0 0 ;
	}
}

.margen-secundario {
	padding:100px 0 0 0 ;
}

header {
	height: 50px;
	width: 100%;
	margin:0 auto;
	background: #fff;
	z-index: 9;
	position: fixed;
}

#logo {
	float: left;
	margin: 4px 0 0 20px;
}

#navigation {
	width: 50%;
	margin: 0 auto;
	font-family: "CaviarDreams";
	font-size: 14px;
	font-weight: 400;
	margin-right: 20px;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    margin-top: 14px;
	width: 25%;
	float: left;
	text-align: center;
	height: 40px;
}

#navigation ul li a {
	color: #004690;
	text-decoration: none;
	padding: 10px 20px;
}

#navigation ul li a:hover {
	color: #fff;
}


/*---------BOTON----------------------*/

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: #fff;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* CAROUSEL
---------------------------------*/
 #section-movil{
	display:none; 
 }

	#sliders, .fp-slides, .fp-controlArrow{
		display:inherit;
}

.slide h1 {
	font-size: 3.5em;
	font-family: "CaviarDreams";
	color: #fff;
	margin: 0;
	padding: 0;
	text-shadow: 0.3px 0.4px 7px rgba(0,0,0,0.5);
	width: 75%;
	margin: 0 auto;
	line-height: 1em;
}

.slide p {
	color: #fff;
	width: 50%;
	margin: 0 auto;
}

/* slides with cover 
------------------------*/

.slide{
		background-size: cover;
		background-position: center;
}


@media only screen and (max-width: 640px) {
	#sliders, .fp-slides, .fp-controlArrow{
		display:none;
}

	#section-movil{
	 display:inherit;
	 height:100%,	
	}
  
  #titulo-movil{
	color:#323131 !important;
	top: 30%;
	position: absolute;
	margin:0 auto;  
	}

	}

/* Backgrounds for the slides
-----------------------------*/

#slide1 {
	background-image: url(../img/banner_1.jpg);
}

#slide2 {
	background-image: url(../img/banner_2.jpg);
}

#slide3 {
	background-image: url(../img/banner_3.jpg);
}


/*--------------------------------------------*/

.section {
	text-align: center;
}

#section0{
 background:url(../img/fondo-cel-home.jpg);
 background-size:cover;	
}


/* SECTION 1
--------------------------------*/

#section1 {
	/*background: rgba(113,163,203,1);*/
	background: -moz-radial-gradient(center, ellipse cover, rgba(113,163,203,1) 0%, rgba(10,97,168,1) 75%, rgba(10,97,168,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(113,163,203,1)), color-stop(75%, rgba(10,97,168,1)), color-stop(100%, rgba(10,97,168,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(113,163,203,1) 0%, rgba(10,97,168,1) 75%, rgba(10,97,168,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(113,163,203,1) 0%, rgba(10,97,168,1) 75%, rgba(10,97,168,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(113,163,203,1) 0%, rgba(10,97,168,1) 75%, rgba(10,97,168,1) 100%);
	background: radial-gradient(ellipse at center, rgba(113,163,203,1) 0%, rgba(10,97,168,1) 75%, rgba(10,97,168,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71a3cb', endColorstr='#0a61a8', GradientType=1 );
}

.titulo-textos {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 25px;
}



/*		GALERIA	*/

.galeria-contenedor {
	max-width: 1000px;
	margin: 0 auto;
}

.galeria-columna {
	width: 220px;
	margin: 0 15px;
	float: left;
}

.galeria-caption {
	background: #fff;
    margin-bottom: 15px;
	color: #0A61A8;
	height: 26px;
}

.galeria-caption > p {
	text-transform: uppercase;
	padding-top: 5px;
}


/****************************/

.galeria-effect {
	display: inline-block;
	height: auto;
	width: 100%;
	position: relative;
    overflow: hidden;
	font-family: 'OpenSans Regular';
}

.caption-color h1 {
	font-size: 1.2em;
    text-transform: uppercase;
}

.caption-color p{
    font-family: 'OpenSans Light';
    padding: 17px 18px 0;
}

.caption-color {
	background: rgba(255,153,0,0.6);
    color: #fff;
    cursor: pointer;
    /*display: table;*/
    position: absolute;
    top: 0;
    width: 220px;
	height: 226px;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
	padding: 17% 0 47.9%;
}

.caption-color:hover {
	opacity: 1;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8 {
	background-position: center top !important;
    background-size: inherit !important;
}

#img1 {
	background: url(../img/img_2-2.jpg);
}

#img2 {
	background: url(../img/img_6-2.jpg);
}

#img3 {
	background: url(../img/img_3-2.jpg);
}

#img4 {
	background: url(../img/img_5-2.jpg);
}

#img5 {
	background: url(../img/img_7-2.jpg);
}

#img6 {
	background: url(../img/img_1-2.jpg);
}

#img7 {
	background: url(../img/img_5-2.jpg);
}

#img8 {
	background: url(../img/img_8-2.jpg);
}

.galeria-carousel {
	display: none;
}

@media only screen and (max-width: 1000px) and (min-width: 751px) {
	.galeria-contenedor {
		width: 750px;
	}
	
	#columna-responsive {
		width: 495px;
	}
	
	#columna-responsive .galeria-effect {
		width: 220px;
		display: inline-block;
		margin-right: 25px;
	}
}

@media only screen and (max-width: 750px) {
	.galeria-contenedor {
		max-width: 500px;
	}

}


@media only screen and (max-width: 550px) {

	.galeria-contenedor {
		display: none;
	}
	
	.texto1 {
		display: none;
	}

	/*** GALERIA CAROUSEL MOVIL ***/
	
	.galeria-carousel {
		width: 280px;
		height: 400px;
		margin: 0 auto;
		display: inherit;
	}
	
	.galeria-celda {
		width: 280px;
		height: 400px;
	}
	
	.galeria-carousel img {
		width: 100%;
	}
	
	.caption-text {
		background: #fff;
		width: 100%;
		padding: 9px 0;
		bottom: 0;
		text-transform: uppercase;
		color: #0A61A8;
		font-family: 'OpenSans Regular';
	}
	
	.galeria-descripcion {
		font-family: 'OpenSans Light';
		color: #fff;
		padding: 5px 0 20px;
	}

}

/* SECTION 2
--------------------------------*/


#section2  {
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(15%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(224,224,224,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(224,224,224,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(224,224,224,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(224,224,224,1) 100%);
}

.titulo{
    font-family:'CaviarDreams';
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 6px;
	color: #fff;
	margin-bottom: 3%;
}

.catalogo-item{
    width: 18%;
    margin: 65px 10px 10px 10px;
    float: left;
	opacity: 0.5;
	transition:opacity 0.3s linear;	
}

.catalogo-item:hover{
    opacity: 1;
		
}

.catalogo-item i{
	color: #0A61A8;
    font-size: 40px;	
}

.catalogo-item i:hover{
	color: #848382;
}

#catalogo-texto{
	bottom: 0px;
    background: #ff9900;
    width: 100%;
    height: 130px;
	color:#FFF;
	margin-top: 25px;
	position:absolute;
}

.catalogo-texto{
	color: #FFF;
	width: 75%;
    float: right;
}

.catalogo-texto-principal{
	width: 32%;
    float: left;
	margin-top:10px;
	border-right: solid #FFFFFF;
}

.division{
	border-right: solid #143063 1px;
	height: 87px;
    float: left;
    vertical-align: middle;
	}

.catalogo-texto-secundario{
	width: 32%;
    float: right;
	margin-top:10px;
	border-right: solid #FFFFFF;
}

.numero-texto{
	font-size: 50px;
    float: left;
    width: 25%;	
	color: #FFF;
}

#catalogo-detalles{
	background: #2251A6;	
}

hr{
	display: none;
}
@media only screen and (max-width: 1169px) {
 .catalogo-item{
    width: 30%;
    margin: 90px 10px 10px 10px;
    float: left;	
}

#catalogo-texto{
	bottom: 0px;
    background: #ff9900;
    /*width: 100%;
    height: 130px;
	color:#FFF;
	display:inline-block;*/
	margin-top: 25px;
	/*position:inherit;*/
	padding-bottom:20px;
}




}

@media only screen and (max-width: 960px) {
 .numero-texto{
	font-size: 28px;
    float: left;
    width: 25%;	
}
}

@media only screen and (max-width:640px) {
	.division{
	display: none;
	/*width: 32%;
    float: right;
	margin-top:10px;
	border-top: solid #FFFFFF;*/
	}	
	
	hr{
	display: block;
}
}
@media only screen and (max-width: 480px) {
 .numero-texto{
	font-size: 35px;
    float: left;
}

.catalogo-texto-principal, .catalogo-texto-secundario{
	font-size:13px;
	margin-top:20px;	
}
}

@media only screen and (max-width: 600px) {
 .catalogo-item{
    width: 44%;
    margin: 25px 10px 10px 10px;
    float: left;	
}
}
@media only screen and (max-width: 479px) {
 .catalogo-item{
    width: 43%;
    margin: 25px 10px 10px 10px;
    float: left;	
}
}

/*****************************************
	CATALOGO ICONOS TEST
*****************************************/

.galeria-catalogo {
	width: 90%;
	margin: 0 auto;
}

.galeria-item {
	width: 12%;
	margin: 2% 4%;
	float: left;
}

/* SVG EFFECTS */

.st0 {
	fill:#1659A2;
	transition: 0.3s;
	margin-bottom: 4px;
}

.galeria-item a:hover *{
	fill:#FF9900;
	transition: 0.3s;
	color: #FF9900;
}

.galeria-item p {
	margin-top: 6px;
	font-family: 'OpenSans Regular';
}

@media only screen and (max-width: 640px) {
	.galeria-item {
		width: 18%;
		margin: 2% 7.5%
	}
}

@media only screen and (max-width: 480px) {
	.galeria-catalogo {
		width: 75%;
	}
	.galeria-item {
		width: 26%;
		margin: 4% 12%;
	}
}


/* SECTION 3
--------------------------------*/
#section3{
	background:url(file:///D|/REPOSITORIO_LOCAL/web_virtual_Catalogo/resources/img/servicios_imagen.jpg);
	background-size: cover;
    background-position: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.gallery {
  background: #EEE;
}

.servicios-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  
}

/* cell number */
.servicios-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.ver-mas {
	background-color:transparent;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	margin: 10px 0 10px 0;
	padding:16px 28px;
	text-decoration:none;
}
.ver-mas:hover {
	background-color:rgba(239,234,234,0.2);
}
.ver-mas:active {
	position:relative;
	top:1px;
}

.digitalizacion-texto{
	width: 40%;
    float: left;
	color:#FFF;	
}

.digitalizacion-texto p{
	margin: 30px auto 30px;
	width:80%;
	font-family:'OpenSans Regular';
}

.digitalizacion-video{
	 width: 60%;
    float: right;
}

.video-responsive {
    position: relative;
    margin-bottom: 20px;
    padding-top: 56.25%;
}
.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
@media only screen and (max-width: 960px) {
.servicios-cell {
  width: 100%;
  height: 540px;
  margin-right: 10px;
  
}


.digitalizacion-texto{
	width: 100%;
}

.digitalizacion-video{
	width: 65%;
    float: none;
    margin-top: 20px;
	display:inline-block;
}

}

@media only screen and (max-width: 550px) {
 .digitalizacion-video{
	width: 65%;
    float: none;
    margin: 0 auto;
    margin-top: 15px;
}

.digitalizacion-texto p{
	display:none;
}

.titulo{
    font-size: 20px;
    margin: 2px 0 2px;	
}
}

@media only screen and (max-width: 480px){
.servicios-cell{
    width: 100%;
    height: 310px;
    margin-right: 10px;	
}
}

/* SECTION 4
-------------------------------*/

#section4 {
	/*background: rgba(142,105,138,1);*/
	background: -moz-radial-gradient(center, ellipse cover, rgba(142,105,138,1) 0%, rgba(102,52,103,1) 75%, rgba(102,52,103,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(142,105,138,1)), color-stop(75%, rgba(102,52,103,1)), color-stop(100%, rgba(102,52,103,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(142,105,138,1) 0%, rgba(102,52,103,1) 75%, rgba(102,52,103,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(142,105,138,1) 0%, rgba(102,52,103,1) 75%, rgba(102,52,103,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(142,105,138,1) 0%, rgba(102,52,103,1) 75%, rgba(102,52,103,1) 100%);
	background: radial-gradient(ellipse at center, rgba(142,105,138,1) 0%, rgba(102,52,103,1) 75%, rgba(102,52,103,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e698a', endColorstr='#663467', GradientType=1 );
}


.novedades-galeria {
	max-width: 1000px;
	margin: 0 auto;
}

.novedades-effect {
	display: inline-block;
	height: auto;
	width: 200px;
	position: relative;
    overflow: hidden;
	font-family: 'OpenSans Regular';
	margin-bottom: 15px;
	float: left;
	padding: 0 10px;
}

.novedades-color {
	background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0, 0, 0, 0.85) 100%);
	color: #fff;
    cursor: pointer;
    /*display: table;*/
    position: absolute;
    bottom: 0;
    width: 180px;
	height: 190px;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    text-align: left;

}

.colm2 .novedades-color {
	width: 200px
}

.novedades-color:hover {
	opacity: 1;
}

.novedades-color p {
	font-family: 'OpenSans Regular';
	text-transform: uppercase;
	position: absolute;
    bottom: 9px;
    left: 13px;
	width: 150px;
}

.novedades-color span {
	font-family: 'OpenSans Light';
    font-size: 0.9em;
    letter-spacing: 0.5px;
	line-height: 30px;
}

.novedades-carousel {
	display: none;
}

.galeria-descripcion {
	display: none;
}

@media only screen and (max-width: 1000px) {
	.novedades-galeria {
		max-width: 800px;
	}
}

@media only screen and (max-width: 800px) {
	.novedades-galeria {
		max-width: 600px;
	}
}


@media only screen and (max-width: 600px) {

/*************************
	NOVEDADES CAROUSEL
*****************************/

.novedades-galeria {
	display: none;
}

.novedades-carousel {
	width: 280px;
	height: 325px;
	margin: 0 auto;
	display: inherit;
	overflow: hidden;
}

.novedades-celda {
	width: 280px;
	height: 370px;
}

.novedades-celda img {
	width: 100%;
}

}

@media only screen and (max-width: 550px) {
	.galeria-descripcion {
		display: inherit;
}

}

/* SECTION 5
-------------------------------*/
/* GRID */

#section5{
 background: #FFF;	
}

.page_content{
	margin-left:1%;	
}

.grid {
	border: 1px solid #4b88ad;
	border-bottom: none;
	border-right: none;
	overflow: hidden;
}
.grid li {
	border-bottom: 1px solid #4b88ad;
	border-right: 1px solid #4b88ad;
	float: left;
	overflow: hidden;
	position: relative;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	padding-left:10px !important;
}
@media only screen and (max-width: 960px) {
.grid li {
	width: 33%;
	}
}

@media only screen and (max-width: 480px) {
 .grid li {
	width: 50%;
	}
}


.ie7 .grid li {
	width: 19.9%;
	padding-left:10px !important;
}
.grid li a {
	display: block;
}
.grid img {
	display: block;
	height: auto;
	border:0px !important;
	width: 100%;
	opacity: .65;
	/*-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);*/
	-webkit-filter: grayscale(100%);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.grid li:hover img {
	opacity: 1;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-filter: grayscale(0%);
	/*filter: alpha(opacity=100);*/
}

/* CLIENTS */

#clients li:hover .original_img,  .ie7 #clients li:hover a img, .ie8 #clients li:hover a img {
	opacity: 1;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
#clients li:hover .grayscale_img {
	opacity: 0;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
/* CLIENTS */

#clients .westfield:hover, #clients .westfield.active {
	background: #d9001f;
}
#clients .smuin:hover, #clients .smuin.active {
	background: #2a2333;
}
#clients .cytosport:hover, #clients .cytosport.active {
	background: #292c33;
}
#clients .toyota:hover, #clients .toyota.active {
	background: #f60031;
}
#clients .lands_end:hover, #clients .lands_end.active {
	background: #1e1d3c;
}
#clients .microsoft:hover, #clients .microsoft.active {
	background: #0079b0;
}
#clients .a_e:hover, #clients .a_e.active {
	background: #451e53;
}
#clients .skittles:hover, #clients .skittles.active {
	background: #d9001f;
}
#clients .juicy_fruit:hover, #clients .juicy_fruit.active {
	background: #fdbb00;
}
#clients .ge:hover, #clients .ge.active {
	background: #0977b4;
}
#clients .glad:hover, #clients .glad.active {
	background: #f6a200;
}
#clients .altoids:hover, #clients .altoids.active {
	background: #a7000a;
}
#clients .absolut:hover, #clients .absolut.active {
	background: #919191;
}
#clients .facebook:hover, #clients .facebook.active {
	background: #44559b;
}
#clients .jameson:hover, #clients .jameson.active {
	background: #003e25;
}
#clients .toyota:hover, #clients .toyota.active {
	background: #f60031;
}
#clients .orbit:hover, #clients .orbit.active {
	background: #95d2ef;
}
#clients .zynga:hover, #clients .zynga.active {
	background: #a9011b;
}
#clients .nike:hover, #clients .nike.active {
	background: #868686;
}
#clients .adidas:hover, #clients .adidas.active {
	background: #395cd4;
}
#clients .campaign:hover {
	background: transparent;
}

/*
---------------- SECTION 6
*/

.gallery {
  background: #FFF;
  margin-top: 25px;
}

.gallery-convenios {
  width: 28%;
  height: 175px;
  margin-right: 10px;
  
}

.gallery-convenios.is-selected {
  /*background: #ED2;*/
}

/* cell number */
.gallery-convenios:before {
  display: block;
  text-align: center;
  line-height: 175px;
  font-size: 80px;
  color: white;
}

.flickity-page-dots {
  display:none;
}

#titulo-oscuro{
 color:#333333;	
}
@media only screen and (max-width: 960px) {
.gallery-convenios {
  width: 48%;
  height: 200px;
  margin-right: 10px;
}
}

@media only screen and (max-width: 480px) {
.gallery-convenios {
  width: 98%;
  height: 190px;
  margin-right: 10px;
}

}

/*Footer*/

.tercio {
    width: 33.2%;
    padding: 2% 1%;
	float:left;
}

.titulo-footer{
	font-size: larger;
    padding-bottom: 10px;
	margin-left: 10px;
	color: #656462;	
}

.p-footer{
	line-height: 1.1em;
	width: 85%;
    margin: 0 auto;
	color: #7B7A77;
	font-family:'OpenSans Regular';
	font-size: 0.9em;
		
}


/*Copyright*/
.copyright{
background:#333232;
}

.copyright p{
color: #FFF;
margin: 10px 0 10px 0;
font-size: smaller;	
}

.margen-footer{
    margin: 10px 0 10px 0px;
	text-align:left;	
}
.margen-footer img{
     margin: 10px 0 10px 15px;	
}

@media only screen and (max-width: 640px) {
.tercio {
    width: 100%;
    padding: 2% 1%;
	float:left;
}

.p-footer{
 font-size:0.9em;	
}

#section6 .margen-footer:nth-child(3) p{display:none;}



}